.button {
  background-color: #fff;
  border: 1px solid #1a969c;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 8px 16px;
  margin-top: 8px;
  min-width: 200px;
  appearance: button;
  user-select: none;
  border-radius: 4px;
  transition: background-color 200ms linear;
  cursor: pointer;

  &:hover {
    background-color: mix(#1a969c, #fff, 10%)
  }

  @media screen and (max-width: 375px) {
    width: 100%;
  }

  @media screen and (max-width: 500px) {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
