$local-size: 60vh;

/* autoprefixer grid: autoplace */
.container {
  width: $local-size;
  height: $local-size;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  color: #fff;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
